/*--------------------Classes de Background------------------------*/
.main-bg{
    background-image: url(../1projetohtml/img/endless-constellation.png);
    background-size: cover; 
    background-position: center center;
    /*background size e position no cover e center center 
    para a pagina redimencionar automaticamente conforme for 
    mudando de dimencao*/
    color: var(--white-color);/*SETANDO A VARIAVEL PARA PEGAR A COR BRANCA*/
}

.white-bg{
   background: var(--white-color);
   color: var(--primary-color);
}

.conteinerCorrecaoNav{
    margin-top: 80px;

}
.section{
    /*essa classe tem altura minima de 100vh*/
    min-height: 100vh;
}

.menu-spacing{
    height: 6.5rem;
}

body .full-width{
    width: 100%;
    flex: 1 1 100%;
}





/*--------------------------------------------------------------------*/
.dimimg{ height: 36rem;    width: 36rem;} /*so pra dimensionar as imagens porque eu nao achei o site pra trazer as imagens prontas!!*/
