.intro-content {
    position: relative;
    /*top: -7rem;*/
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: var(--gap);
    min-height: 100vh; /*fazer a grid ficar do tamanho da tela*/
}

.intro-text-content, .intro-img{
    display: flex;
    flex-flow: column  wrap;
    justify-content: center;
}


.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;
}

.top3-content{
    max-width: 64rem;
    display: flex;
    /*---------------------------------------*/
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-flow: column nowrap;-----é atalho*/
    
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.grid-one-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-one-content h2 {
    margin-bottom: 1rem;

}
.grid-main-heading{
    margin-bottom: 1rem;
}


.grid-description{
    margin-bottom: 5rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}
.grid h3 {
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.grid h3::before {
    font-size: 3rem;
    counter-increment: grid-counter;
    content: counter(grid-counter); 
    /*GRID COUNTER FOI PARA CRIAR UM "CONTADOR DENTRO DA GRID"*/
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
    }
    
    .gallery-img{
        width: 100%;
        max-width: 36rem;
        max-height: 36rem;
        overflow: hidden;
    }

    .gallery-img img:hover {
        transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
    }
    
    .contact-form{
        grid-column: span 2;
    }
    .contact-form .form-grid{
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--gap);

    }

    .form-grid legend{
        font-style: italic;
        font-size: 1.6rem;
        margin-bottom: 3rem;

    }
    .form-group{
        min-width: 32rem;
        flex: 1 1 auto;
    }
    .form-group label{
        display: block;
        margin-bottom: 1rem;
    }
    .form-group input, 
    .form-group textarea{
        border: none;
        background:var(--white-color);
        padding: 1.5rem 2rem;
        width: 100%;
        font-size: 3rem;
    }
    .form-group input:focus, 
    .form-group textarea:focus{box-shadow: 0px 0px 10px 2px var(--secondary-color) ;}
    
    .form-group button{
        border: 0.5rem solid var(--white-color);
        background:none;
        color: var(--white-color);
        padding: 1.5rem 2rem;
        font-size: 3rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;

    }

    .form-group button:hover{
        background: var(--white-color);
        color: var(--primary-color);
       
    }
    .form-group ::placeholder{
        color: var(--light-gray-color);
    }
    .footer {
        text-align: center;
    }
    .footer a {
        color: var(--primary-color);
    }
    .heart{
        color: var(--secondary-color);
    }
    .footer p {
        margin: 0;
        padding: 3rem;
    }
    .close-menu{
        display: none;
    }

    @media (max-width:800px)
    {

        .intro-content,.grid {
            grid-template-columns: 1fr;
        }
    
        .gallery-img{
            width: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        .gallery-img img{
            width: 100%;
        }

        .grid-one-content{
            display: block;
        }
        /*Parte de Menu de navegacao*/
        .menu {
            bottom: 0;
            text-align: center;
            display: none;
        }
        .menu-content, .menu-content ul{
            flex-direction: column;
            justify-content: center;
        }
        .menu-content{
            height: 100vh;
        }
       
        .close-menu-label::after{
            content:'☰';
            position: fixed;
            z-index: 2;
            top: 2rem;
            right: 2rem;
            background:var(--primary-color);
            color: var(--white-color);
            font-size: 3rem;
            line-height: 3rem;
            width: 3rem;
            height: 3rem;
            text-align: center;
            padding: 0.5rem;
            cursor: pointer;
        }
        .close-menu:checked~.menu{
            display: block; /*mostrat o menu quando estiver checked*/
        }
        .close-menu:checked~.close-menu-label::after {  
            content: 'x';
        }
        .menu-spacing{
            display: none;
        }

        .back-to-top{
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            background-color: var(--white-color);
            width: 5rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            color: var(--primary-color);
            transform: rotate(-90deg);
            border: 0.1rem solid var(--primary-color);
        }
    }